<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
 id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="container">
    
	<div class="row" id="ads">
    <!-- Category Card -->
    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">Ride with Activa</span>
                <span class="card-notify-year">2018</span>
                <img class="img-fluid" src="/src/assets/images/activa1.png" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
             <!--   <span class="card-detail-badge">Used</span> -->
                <span class="card-detail-badge">Free 200 Kms</span>
                <span class="card-detail-badge">Excess {{price | currency}} 2/Kms</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Honda Activa 5G</h5>
                </div>
                <a class="ad-btn" href="#">View</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">Ride with Pulsar</span>
                <span class="card-notify-year">2017</span>
                <img class="img-fluid" src="/src/assets/images/pulsar.png" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">Free 250 Kms</span>
                <span class="card-detail-badge">Excess {{price | currency}} 2.5/Kms</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Bajaj Pulsar 180 CC</h5>
                </div>
                <a class="ad-btn" href="#">View</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">Ride with Bullet</span>
                <span class="card-notify-year">2018</span>
                <img class="img-fluid" src="/src/assets/images/royal_enfield.png" alt="Alternate Text" />
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">Free 250 Kms</span>
                <span class="card-detail-badge">Excess {{price | currency}} 3/Kms</span>
            </div>
            <div class="card-body text-center">
                <div class="ad-title m-auto">
                    <h5>Royal Enfield 350 CC</h5>
                </div>
                <a class="ad-btn" href="#">View</a>
            </div>
        </div>
    </div>

</div>
</div>